.lesson-heading {
  font-size: 1.8em;
  margin-bottom: 22px;
  font-weight: 600;
}

.tour .page-intro__home {
  padding-top: 40px;
}
.tour .page-intro.pt-80 {
  padding-top: 80px;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 57px;
  background: white;
  z-index: 1;
  bottom: 0;
  border-left: 1px solid #efefef;
  width: 445px;
  transition: all 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  overflow-y: auto;
}

@media screen and (max-width: 425px) {
  #sidebar {
    width: 80%;
  }
}

#sidebar.hidden {
  transform: translateX(445px);
  opacity: 0.01;
}

#sidebar .categories,
#sidebar .topics {
  list-style: none;
  padding-left: 0;
}

#sidebar .categories .category {
  display: block;
  padding: 6px 9px;
  background-color: #aec5d0;
  color: #4a4a4a;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

#sidebar .categories .category:hover {
  background-color: #c4d3da;
}

#sidebar .topics {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms cubic-bezier(0.4, 0, 1, 1);
}

#sidebar .topics.open {
  max-height: 2300px;
  overflow: auto;
  transition: max-height 500ms ease-in-out;
}

#sidebar .topics .topic {
  display: block;
  padding: 6px 11px;
  color: #4a4a4a;
}

#sidebar .topics .topic:hover {
  /*background-color: green;*/
}

#sidebar .topics .topic.active {
  color: #286ad4;
  font-weight: 600;
}

.lesson-content-wrapper {
  height: calc(100vh - 58px);
  display: flex;
  padding-top: 11px;
  background-color: #fdfdfd;
}

/* overwrite the hljs style */
.lesson-content-wrapper code {
  background-color: #f9f9f9;
}

.content {
  flex: 1;
}

.panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 17px 25px 3px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  border-bottom: 0;
  position: relative;
  background-color: #ffffff;
  overflow-y: auto;
}

.panel.empty {
  justify-content: center;
}

.panel.empty .dgraph-icon {
  align-self: center;
}

.panel .body {
  font-size: 17px;
  flex: 0.97;
  overflow-y: auto;
}

.panel-container {
  display: flex;
  flex: 1;
}

.expandable {
  margin-bottom: 1rem;
}

.expandable.expanded .expandable-content {
  max-height: 3000px;
}

.expandable .expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 450ms ease-in;
}

.noscroll {
  overflow: hidden;
}

/***** home **/
.home .chapter {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  margin-bottom: 26px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.home .chapter .chapter-header {
  background: #383838;
  color: white;
  padding: 9px 11px;
  font-size: 17px;
  overflow: auto;
}

.home .chapter .chapter-desc {
  padding: 9px 11px;
}

.home .chapter-start-btn {
  float: right;
}

.home .main {
  padding: 28px 0;
}

.home .diggy-img {
  width: 334px;
}

.home .masthead {
  text-align: center;
  padding: 4.7em 0;
  background: #fdfdfd;
}

.home .cta {
  margin-bottom: 17px;
}

.home .cta-btn {
  text-transform: uppercase;
}

.home .main-desc-content {
  width: 400px;
  display: inline-block;
  color: #777777;
  padding-top: 34px;
}

.home .diggy-face {
  width: 124px;
}

.notices.incomplete {
  border-color: #f3d98c;
  background-color: #f7f7f1;
  border: 1px solid #e2e2e2;
}

.notices.tip {
  border-color: #87cb74;
  background-color: #e3f9e3;
  border: 1px solid #e2e2e2;
}

.notices.warning {
  border-color: #c16560;
  background-color: #ffefe3;
  border: 1px solid #e2e2e2;
}

.vertical-stretch {
  height: 100%;
}

<<<<<<< HEAD
.tour-container .select-hidden {
  display: none !important;
  visibility: hidden !important;
  padding-right: 10px;
}

.tour-container .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  overflow: visible;
  height: auto;
  width: 232px;
  height: 40px;
  border: 2px solid rgba(214, 214, 214, 0.5);
  border-radius: 4px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.tour-container .select:before {
  display: none;
}

.select-styled {
  position: relative;
  width: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #212121;

  /* background-color: $select-background; */
}

.select-styled:after {
  content: "\f078";
  width: 0;
  height: 0;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  right: 20px;
}

.select-options {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 10px 0px;
  list-style: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
  z-index: 99;
}

.select-options li {
  margin: 0 5px;
  padding: 2px 0;
  text-indent: 15px;
  line-height: 32px;
  margin-bottom: 0 !important;
  transition: 0.3s;
}

.select-options li:hover {
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(255, 66, 0, 0.05) .01%, rgba(229, 6, 149, 0.05) 99.99%);
}

.select-options li.selected {
  background: linear-gradient(90deg, rgba(255,66,0,0.8) 0.01%, rgba(229,6,149,0.8) 99.99%);
  border-radius: 4px;
  color: #fff;
}

.select-options li.selected:hover {
  background: linear-gradient(90deg, rgba(255,66,0,0.8) 0.01%, rgba(229,6,149,0.8) 99.99%);
  border-radius: 4px;
  color: #fff;
}

=======
>>>>>>> master
.page-select.dropdown {
  width: 248px;
  height: 48px;
  border: 2px solid rgba(214, 214, 214, 0.5);
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.page-select.dropdown button {
=======
.page-select.dropdown button, .page-select.dropdown .version-select.dropdown-toggle {
>>>>>>> master
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  width: 100%;
  text-align: left;
  position: relative;
<<<<<<< HEAD
}

.page-select.dropdown .dropdown-toggle:after {
  content: "\f078";
  width: 16px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  right: 12px;
  border: none;
=======
  min-height: 40px;
  line-height: 40px;
  padding: 5px 15px;
  padding-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
>>>>>>> master
}
.page-select.dropdown .dropdown-menu{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
<<<<<<< HEAD
  width: 248px;

}
.page-select.dropdown .page-subnav__label{
  padding: 0 5px;
    padding: 2px 0;
    text-indent: 15px;
    line-height: 32px;
    margin-bottom: 0 !important;
    transition: 0.3s;
    color:#555555;
    font-size:16px;
    font-weight:400;
}
.page-select.dropdown .page-subnav__label+.page-subnav__label {
  margin-left: 0px;
}
.page-select.dropdown .dropdown-item.page-subnav__label.is-active{
  background: linear-gradient(90deg, rgba(255,66,0,0.8) 0.01%, rgba(229,6,149,0.8) 99.99%);
  border-radius: 4px;
  color: #fff;
  border:none
  
}
.page-select.dropdown .dropdown-item.page-subnav__label:hover{
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(255, 66, 0, 0.05) .01%, rgba(229, 6, 149, 0.05) 99.99%);

}
.page-select.dropdown .dropdown-item.page-subnav__label.is-active:hover{
  background: linear-gradient(90deg, rgba(255,66,0,0.8) 0.01%, rgba(229,6,149,0.8) 99.99%);
  border-radius: 4px;
  color: #fff;
  border:none

}
.page-select.dropdown .page-subnav__label:after{
  display:none;
}
.tour-message {
  background: rgba(33,33,33,0.10);
  padding: 10px 20px;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 22px;
}
=======
  width: 244px;
  padding: 5px;

}
.page-select.dropdown .page-subnav__label{
    padding: 7px 15px;
    margin-bottom: 3px !important;
    transition: 0.3s;
    color:#555555;
    font-size:16px;
    font-weight:400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-select.dropdown .page-subnav__label:last-child {
  margin-bottom: 0 !important;
}
.page-select.dropdown .page-subnav__label+.page-subnav__label {
  margin-left: 0px;
}
.page-select.dropdown .dropdown-item.page-subnav__label.is-active{
  background: linear-gradient(90deg, rgba(255,66,0,0.8) 0.01%, rgba(229,6,149,0.8) 99.99%);
  border-radius: 4px;
  color: #fff;
  border:none
  
}
.page-select.dropdown .dropdown-item.page-subnav__label:hover{
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(255, 66, 0, 0.05) .01%, rgba(229, 6, 149, 0.05) 99.99%);

}
.page-select.dropdown .dropdown-item.page-subnav__label.is-active:hover{
  background: linear-gradient(90deg, rgba(255,66,0,0.8) 0.01%, rgba(229,6,149,0.8) 99.99%);
  border-radius: 4px;
  color: #fff;
  border:none

}
.page-select.dropdown .page-subnav__label:after{
  display:none;
}

.dropdown-toggle::after {
  content: "\f078";
  width: 0;
  height: 0;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  right: 26px;
  border: none;
  margin: 0;
  vertical-align: middle;
  top: 6px;
}

.show .dropdown-toggle::after {
  content: "\f077";
}
.tour-message {
  background: rgba(33,33,33,0.10);
  padding: 10px 20px;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 22px;
}
>>>>>>> master

/*@media screen and (max-width:765px) {*/
@media screen and (max-width:992px) {
  .page-body__content .lesson{
    position: relative;
    display:block;
  }
  .lesson__content{
    width: auto;
    max-width: 100%;
    margin: 0 24px;
    max-height: 100%;
    height: 100%;
  }
  .lesson__navigation{
    position: ABSOLUTE;
    top: -40px;
    margin: 0;

 }
 .lesson__navigation  .lesson__next{
  position: absolute;
  top: 0;
  right: 24px;


 }
 .lesson__navigation .lesson__prev{
  position: absolute;
  top: 0;
  left: 24px;

 }
  .lesson__next, .lesson__prev{
    align-items:flex-start;
    position: absolute;
  }
  .lesson__next{
    bottom: -40px;
    right: 0;
  }
  .lesson__prev{
    bottom: -40px;
    left: 0;

  }
  .lesson__code{
    margin-top:30px;
    width: auto;
    max-width: 100%;
    margin: 30px 24px;
  }
<<<<<<< HEAD
  /* .lesson__next{
    top: -20px;
    right: 24px;
    position: ABSOLUTE;
  } */
}


=======
}
>>>>>>> master
