@charset "UTF-8";
html body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    color: #4a4a4a;
    margin: 0;
}

.lesson-heading {
  font-size: 1.8em;
  margin-bottom: 22px;
  font-weight: 600;
}

#header {
  height: 58px;
  border-bottom: 1px solid #EEE;
  padding: 0 31px;
  background: #ffffff;
  opacity: 0.99;
}
#header .brand {
  display: inline-block;
  padding: 5px 0;
}
#header .name {
  color: #000000;
  font-size: 19px;
  vertical-align: middle;
}
#header a:hover {
  text-decoration: none;
}
#header .logo {
  width: 44px;
  vertical-align: middle;
}

.lesson-content-wrapper {
  height: calc(100vh - 58px);
  display: flex;
  padding-top: 11px;
  background-color: #fdfdfd;
}
/* overwrite the hljs style */
.lesson-content-wrapper code {
  background-color: #f9f9f9;
}

.content {
  flex: 1;
}

.panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 17px 25px 3px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  border-bottom: 0;
  position: relative;
  background-color: #ffffff;
  overflow-y: auto;
}

.panel .body {
  font-size: 16px;
  flex: 0.97;
  overflow-y: auto;
}

.panel-container {
  display: flex;
  flex: 1;
}

.page-nav {
  text-align: center;
  font-size: 21px;
  flex: 0.03;
}

.page-nav .nav-index {
  display: inline-block;
}

.page-nav-link {
  padding: 4px 10px 0px;
  font-size: 18px;
}

.content-wrapper {
  padding: 20px 0;
}

.home .diggy-img {
  width: 334px;
}

.expandable {
  margin-bottom: 1rem;
}
.expandable.expanded .expandable-content {
  max-height: 2300px;
}
.expandable .expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 450ms ease-in;
}
