.lesson-heading {
  font-size: 1.8em;
  margin-bottom: 22px;
  font-weight: 600;
}

.tour .page-intro__home {
  padding-top: 40px;
}

.tour .page-intro.pt-80 {
  padding-top: 80px;
}

@media screen and (min-width: 992px) {
  .lesson__next {
    font-size: 20px;
    align-items: flex-start;
    color: #555555;
    display: flex;
    flex-shrink: 0;
    font-weight: 700;
    justify-content: center;
    line-height: 1.6;
    text-decoration: none;
    margin-top: -50px;
    margin-left: -40px;
    position: absolute;
    left: 50%;
    transform: translate(60px, 0px);
  }

  .lesson__prev {
    font-size: 20px;
    align-items: flex-start;
    color: #555555;
    display: flex;
    flex-shrink: 0;
    font-weight: 700;
    justify-content: center;
    line-height: 1.6;
    text-decoration: none;
    margin-top: -50px;
    margin-right: -40px;
    position: absolute;
    right: 50%;
    transform: translate(-60px, 0px);
  }

  .lesson__navigation .lesson__next {
    font-size: 20px;
    align-items: center;
    color: #555555;
    display: flex;
    flex-shrink: 0;
    font-weight: 700;
    justify-content: center;
    line-height: 1.6;
    text-decoration: none;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    left: 0;
    transform: translate(0, 0) !important;
  }

  .lesson__navigation .lesson__prev {
    font-size: 20px;
    align-items: center;
    color: #555555;
    display: flex;
    flex-shrink: 0;
    font-weight: 700;
    justify-content: center;
    line-height: 1.6;
    text-decoration: none;
    margin-top: 0;
    margin-right: 0;
    position: relative;
    left: 0;
    transform: translate(0, 0) !important;
  }
}

#sidebar {
  position: fixed;
  right: 0;
  top: 57px;
  background: white;
  z-index: 1;
  bottom: 0;
  border-left: 1px solid #efefef;
  width: 445px;
  transition: all 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  overflow-y: auto;
}

@media screen and (max-width: 425px) {
  #sidebar {
    width: 80%;
  }
}

#sidebar.hidden {
  transform: translateX(445px);
  opacity: 0.01;
}

#sidebar .categories,
#sidebar .topics {
  list-style: none;
  padding-left: 0;
}

#sidebar .categories .category {
  display: block;
  padding: 6px 9px;
  background-color: #aec5d0;
  color: #4a4a4a;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

#sidebar .categories .category:hover {
  background-color: #c4d3da;
}

#sidebar .topics {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms cubic-bezier(0.4, 0, 1, 1);
}

#sidebar .topics.open {
  max-height: 2300px;
  overflow: auto;
  transition: max-height 500ms ease-in-out;
}

#sidebar .topics .topic {
  display: block;
  padding: 6px 11px;
  color: #4a4a4a;
}

#sidebar .topics .topic.active {
  color: #286ad4;
  font-weight: 600;
}

.lesson-content-wrapper {
  height: calc(100vh - 58px);
  display: flex;
  padding-top: 11px;
  background-color: #fdfdfd;
}

/* overwrite the hljs style */
.lesson-content-wrapper code {
  background-color: #f9f9f9;
}

.content {
  flex: 1;
}

.panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 17px 25px 3px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  border-bottom: 0;
  position: relative;
  background-color: #ffffff;
  overflow-y: auto;
}

.panel.empty {
  justify-content: center;
}

.panel.empty .dgraph-icon {
  align-self: center;
}

.panel .body {
  font-size: 17px;
  flex: 0.97;
  overflow-y: auto;
}

.panel-container {
  display: flex;
  flex: 1;
}

.expandable {
  margin-bottom: 1rem;
}

.expandable.expanded .expandable-content {
  max-height: 3000px;
}

.expandable .expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 450ms ease-in;
}

.noscroll {
  overflow: hidden;
}

/***** home **/
.home .chapter {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  margin-bottom: 26px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.home .chapter .chapter-header {
  background: #383838;
  color: white;
  padding: 9px 11px;
  font-size: 17px;
  overflow: auto;
}

.home .chapter .chapter-desc {
  padding: 9px 11px;
}

.home .chapter-start-btn {
  float: right;
}

.home .main {
  padding: 28px 0;
}

.home .diggy-img {
  width: 334px;
}

.home .masthead {
  text-align: center;
  padding: 4.7em 0;
  background: #fdfdfd;
}

.home .cta {
  margin-bottom: 17px;
}

.home .cta-btn {
  text-transform: uppercase;
}

.home .main-desc-content {
  width: 400px;
  display: inline-block;
  color: #777777;
  padding-top: 34px;
}

.home .diggy-face {
  width: 124px;
}

.notices.incomplete {
  border-color: #f3d98c;
  background-color: #f7f7f1;
  border: 1px solid #e2e2e2;
}

.notices.tip {
  border-color: #87cb74;
  background-color: #e3f9e3;
  border: 1px solid #e2e2e2;
}

.notices.warning {
  border-color: #c16560;
  background-color: #ffefe3;
  border: 1px solid #e2e2e2;
}

.vertical-stretch {
  height: 100%;
}

.tour-container .page-select.dropdown {
  float: right;
}

@media only screen and (max-width: 600px) {
  .page-select.dropdown {
    width: 220px !important;
  }

  .tour-container .page-select.dropdown {
    max-width: 100px !important;
  }

  .single .tour-container .page-select.dropdown {
    max-width: 248px !important;
  }
}

.page-select.dropdown {
  width: 248px;
  height: 48px;
  border: 2px solid rgba(214, 214, 214, 0.5);
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.page-select.dropdown button,
.page-select.dropdown .version-select.dropdown-toggle {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  width: 100%;
  text-align: left;
  position: relative;
  min-height: 40px;
  line-height: 40px;
  padding: 5px 15px;
  padding-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-select.dropdown .dropdown-menu {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
  width: 248px;
  padding: 5px;
}

.page-select.dropdown .page-subnav__label {
  padding: 7px 15px;
  margin-bottom: 5px !important;
  transition: 0.3s;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-select.dropdown .page-subnav__label + .page-subnav__label {
  margin-left: 0px;
}

.page-select.dropdown .dropdown-item.page-subnav__label.is-active {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 0, 0.8) 0.01%,
    rgba(229, 6, 149, 0.8) 99.99%
  );
  border-radius: 4px;
  color: #fff;
  border: none;
}

.page-select.dropdown .dropdown-item.page-subnav__label:hover {
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 0, 0.05) 0.01%,
    rgba(229, 6, 149, 0.05) 99.99%
  );
}

.page-select.dropdown .dropdown-item.page-subnav__label.is-active:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 0, 0.8) 0.01%,
    rgba(229, 6, 149, 0.8) 99.99%
  );
  border-radius: 4px;
  color: #fff;
  border: none;
}

.page-select.dropdown .page-subnav__label:after {
  display: none;
}

.dropdown-toggle::after {
  content: "\f078";
  width: 0;
  height: 0;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  right: 26px;
  border: none;
  margin: 0;
  vertical-align: middle;
  top: 6px;
}

.show .dropdown-toggle::after {
  content: "\f077";
}

.tour-message {
  background: rgba(33, 33, 33, 0.1);
  padding: 10px 20px;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 22px;
}

/*@media screen and (max-width:765px) {*/
@media screen and (max-width: 992px) {
  .page-body__content .lesson {
    position: relative;
    display: block;
  }

  .lesson__content {
    width: auto;
    max-width: 100%;
    margin: 0 24px;
    max-height: 100%;
    height: 100%;
  }

  .lesson__navigation {
    position: ABSOLUTE;
    top: -40px;
    margin: 0;
  }

  .lesson__navigation .lesson__next {
    position: absolute;
    top: 0;
    right: 24px;
  }

  .lesson__navigation .lesson__prev {
    position: absolute;
    top: 0;
    left: 24px;
  }

  .lesson__next,
  .lesson__prev {
    align-items: flex-start;
    position: absolute;
  }

  .lesson__next {
    bottom: -40px;
    right: 0;
  }

  .lesson__prev {
    bottom: -40px;
    left: 0;
  }

  .lesson__code {
    margin-top: 30px;
    margin: 30px 24px;
  }
}

.lesson__content,
.lesson__code {
  max-width: unset;
  width: unset;
}

.tour-container-new .page-intro {
  border-bottom: none;
  padding: 120px 0 0;
}

.lesson-tiles-container {
  padding-top: 96px !important;
  margin-bottom: 96px !important;
}

.lesson-tiles-container h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1em;
  text-align: center;
}

.lesson-tiles-switcher {
  display: flex;
  max-width: 904px;
  margin: auto;
  position: relative;
}

.lesson-tiles-switcher div {
  background-color: #f2f2f2;
  width: 50%;
  text-align: center;
  padding: 24px;
}

.lesson-tiles-switcher div p {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}

.container[data-context="graphql"]
  .lesson-tiles-switcher
  div[data-context="graphql"] {
  background: linear-gradient(110deg, #ff4200, #ff009b);
  color: #ffffff;
}

.container[data-context="graphql"]
  .lesson-tiles-switcher
  div[data-context="dql"] {
  border-bottom: #ff009b solid 1px;
  color: #212121;
  cursor: pointer;
}

.container[data-context="dql"]
  .lesson-tiles-switcher
  div[data-context="graphql"] {
  border-bottom: #ff4200 solid 1px;
  color: #212121;
  cursor: pointer;
}

.container[data-context="dql"] .lesson-tiles-switcher div[data-context="dql"] {
  background: linear-gradient(135deg, #ff1800, #ff009b);
  color: #ffffff;
}

.container[data-context="dql"] .lesson-tiles div[data-context="graphql"] {
  display: none;
}

.module-section[data-context="graphql"] a[data-context="dql"] {
  display: none;
}

.module-section[data-context="dql"] a[data-context="graphql"] {
  display: none;
}

.module-section.main[data-context] {
  counter-reset: moduleNumber;
}
.module-section.main .module {
  counter-increment: moduleNumber;
}

.module-section.main .module span:before {
  content: counter(moduleNumber);
}

.lesson-tiles-container .lesson-tiles {
  display: flex;
  flex-direction: column;
  border-left: 16px solid;
  max-width: 904px;
  margin: auto;
  position: relative;
}

.lesson-tiles-container .lesson-tiles::before {
  content: "";
  background: linear-gradient(
    180deg,
    #ff4200 0%,
    #e50793 116.97%,
    #e50695 116.98%
  );
  width: 16px;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 1;
  transform: translateX(-100%);
}

.lesson-tiles-container .lesson-tiles__tile {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d6d6d6;
  padding: 24px 8px;
  margin-bottom: 0;
  border-radius: 0;
}

.lesson-tiles-container .lesson-tiles__tile:before {
  background: none;
  border: none;
  border-radius: 0;
  color: #212121;
  content: counter(lesson-tiles);
  counter-increment: lesson-tiles;
  display: block;
  margin: 0;
  line-height: 1em;
  width: auto;
  height: auto;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1em;
  background-clip: unset;
  -webkit-background-clip: unset;
}

.lesson-tiles-container .lesson-tiles .lesson-tiles__tile:last-child {
  border-bottom: none;
}

.lesson-tiles-container .lesson-tiles__tile p {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1em;
  color: #212121;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
  padding: 24px 16px;
  text-align: center;
}

.lesson-tiles-container .lesson-tiles__tile p span {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
  color: #555555;
}

.lesson-tiles-container .lesson-tiles__tile div {
  width: min-content;
  text-align: center;
}

.lesson-tiles__link .status {
  position: relative;
  top: 0.2em;
}

.lesson-tiles__link .status.completed {
  color: green;
}

.lesson-tiles__link .status.completed::after {
  padding-left: 5px;
  content: "✔️";
}

.lesson-tiles-container .lesson-tiles__tile a {
  margin: 0;
  min-width: 92px;
}

@media screen and (min-width: 576px) {
  .lesson-tiles-container .lesson-tiles__tile {
    flex-direction: row;
    padding: 24px 42px;
  }

  .lesson-tiles-container .lesson-tiles__tile p {
    padding: 0 42px;
    text-align: left;
  }

  .lesson-tiles-container .lesson-tiles__tile p span {
    text-align: left;
  }

  .lesson-tiles-container .lesson-tiles__tile a {
    min-width: 112px;
  }
}

.page-subnav-new {
  display: flex;
  align-items: center;
  height: 64px;
  box-shadow: 0px -4px 8px 0px rgb(0 0 0 / 0.1);
  background: #fafafa;
  position: relative;
}

.page-subnav-new .page-select {
  display: inline-flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: auto;
  height: auto;
  border-radius: 0;
}

.page-subnav-new .page-select .fa {
  font-size: 32px;
}

.page-subnav-new .lesson-navigation.xs-hidden {
  display: none;
}

.page-subnav-new .lesson-navigation.xs-block {
  display: inline-flex;
}

.page-subnav-new .lesson-navigation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-subnav-new .lesson-navigation .lesson__prev {
  position: unset;
}

.page-subnav-new .lesson-navigation .lesson__next {
  transform: none !important;
  position: unset;
}

.page-subnav-new .lesson-navigation .page-count {
  padding: 0 16px;
  color: #212121;
  font-weight: 500;
}

.page-subnav-new .lesson-navigation .button.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.page-subnav-new .lesson-navigation .button {
  min-width: 102px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  box-sizing: border-box;
  text-align: center;
}

.page-subnav-new .lesson-navigation .button.button--dark {
  background: transparent;
  color: #212121;
  outline: none;
  text-decoration: none;
}

.page-subnav-new .lesson-navigation .button.button--dark:hover {
  background: #212121;
  border: 2px solid #212121;
  color: #ffffff;
}

.tour.new .page-body.new .page-body__content {
  padding: 0;
}

.tour.new .page-body.new .page-body__content .lesson {
  justify-content: flex-start;
}

.tour.new .page-body.new .page-body__content .lesson .lesson__content {
  max-width: none;
  background: #fff;
  border: none;
  border-radius: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.tour.new
  .page-body.new
  .page-body__content
  .lesson
  #lesson-content.over-flow-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.tour.new .page-body.new .page-body__content .lesson .lesson__content,
.lesson__code {
  height: auto;
}

.tour.new
  .page-body.new
  .page-body__content
  .lesson
  .lesson__code.modal-bakdrop.active {
  pointer-events: none;
}

.tour.new
  .page-body.new
  .page-body__content
  .lesson
  .lesson__code.modal-bakdrop:after {
  content: "";
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all ease 600ms;
}

.tour.new
  .page-body.new
  .page-body__content
  .lesson
  .lesson__code.modal-bakdrop.active:after {
  opacity: 0.5;
  transition: all ease 600ms;
  z-index: 1;
}

.tour.new .page-body.new .page-body__content .lesson .lesson__code.empty {
  background: #f2f2f2;
  padding-right: 0;
}

.tour.new .page-body.new .page-body__content .lesson .lesson__code {
  margin-left: 0;
  overflow: hidden;
  display: none !important;
  padding-right: 2px;
}

.tour.new .page-body.new .page-body__content .lesson .lesson__content > div {
  padding: 40px 0;
}

.tour.new
  .page-body.new
  .page-body__content
  .lesson
  .lesson__content
  .lesson__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}

.tour.new
  .page-body.new
  .page-body__content
  .lesson
  .lesson__content
  .lesson__tour__type {
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  text-align: left;
  padding: 16px 0;
  background: #fafafa;
}

.tour.new
  .page-body.new
  .page-body__content
  .lesson
  .lesson__content
  .lesson__Category {
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  text-align: left;
  padding: 16px 0;
  color: #555555;
  text-transform: uppercase;
}

.page-subnav-new .page-select {
  display: flex;
  align-items: center;
}

.page-subnav-new .page-select .lesson-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  text-align: left;
  color: #212121;
  display: none;
}

#lesson-content-inner {
  pointer-events: auto;
  transform: translateX(0);
  transition: all ease-in 600ms;
}

#lesson-content-inner.hide {
  pointer-events: none;
  transform: translateX(-100%);
  transition: all ease-out 600ms;
}

.page-navigation-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: all ease-in 600ms;
}

.page-navigation-modal.show {
  overflow: auto;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  transition: all ease-out 600ms;
}

.page-navigation-modal .modal-dialog {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: auto;
  max-width: none;
  transform: translate(0, 0) !important;
  pointer-events: auto;
}

.page-navigation-modal .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
  position: relative;
  border: none;
}

/* .modal-backdrop.fade.show.overide {
  height: calc(100vh - 154px);
  top: 89px
} */

.page-navigation-modal {
  background: #fafafa;
}

.page-navigation-modal .modal-body {
  padding: 40px;
}

.page-navigation-modal .modal-body .top-section {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 16px;
}

.page-navigation-modal .modal-body .top-section .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: #212121;
}

.page-navigation-modal .modal-body .top-section .title .fa {
  font-size: 18px;
  margin-right: 16px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  cursor: pointer;
}

.page-navigation-modal .modal-body .top-section .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  padding-top: 8px;
  color: #555555;
}

.page-navigation-modal .modal-body .module-section {
  margin: 0 -40px;
  display: flex;
  flex-direction: column;
}

.page-navigation-modal .modal-body .module-section .heading {
  padding: 16px 40px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  color: #212121;
}

.page-navigation-modal .modal-body .module {
  padding: 12px 40px;
  min-height: 40px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.lesson__content.margin-0 {
  margin: 0 !important;
}

.page-navigation-modal .modal-body .module.active {
  background: #f2f2f2;
}

#dgraph-tour {
  display: none;
}

#dgraph-tour-category {
  display: block;
}

@media screen and (min-width: 576px) {
  .page-subnav-new .lesson-navigation .page-count {
    padding: 0 80px;
  }

  .page-subnav-new .lesson-navigation.xs-hidden {
    display: inline-flex;
  }

  .page-subnav-new .lesson-navigation.xs-block {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .tour.new .page-body.new .page-body__content .lesson .lesson__code {
    display: block !important;
  }

  .tour.new .page-body.new .page-body__content .lesson .lesson__code.empty {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .tour.new .page-body.new .page-body__content .lesson .lesson__code.empty img {
    width: auto;
    height: 100%;
  }

  .tour.new .page-body.new .page-body__content .lesson .lesson__content,
  .lesson__code {
    height: calc(100vh - 152px);
    min-height: calc(100vh - 152px);
    max-height: calc(100vh - 152px);
  }

  .tour.new .page-body.new .page-body__content .lesson .lesson__content > div {
    padding: 0 40px 40px;
  }

  .page-navigation-modal .modal-dialog {
    max-width: 480px;
    /* height: calc(100vh - 152px); */
  }

  /* .page-navigation-modal {
    top: 88px;
  } */

  .tour.new
    .page-body.new
    .page-body__content
    .lesson
    .lesson__content
    .lesson__tour__type {
    margin: 0 -40px;
    padding: 16px 16px 16px 40px;
  }

  .tour.new
    .page-body.new
    .page-body__content
    .lesson
    .lesson__content
    .lesson__tour__type {
    margin: 0 -40px;
    padding: 16px 16px 16px 40px;
  }

  .page-subnav-new .page-select .lesson-title {
    display: block;
  }

  .page-navigation-modal {
    position: absolute;
  }
}

.lesson__resizer {
  width: 5px;
  background: linear-gradient(
    45deg,
    #ff4200 0%,
    #e50793 116.97%,
    #e50695 116.98%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  /* background-color: #212121; */
  cursor: ew-resize;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 993px) {
  .tour.new .page-body.new .page-body__content .lesson .lesson__content {
    max-width: calc(480px - 5px);
  }
}

@media screen and (min-width: 1280px) {
  .tour.new .page-body.new .page-body__content .lesson .lesson__content {
    max-width: calc(40% - 5px);
  }
}

/** Override .runnable classes */
/**
 * I am leaving this CSS snippet here but commented out because I have
 * a strong feeling that this will be wanted back later to put the panels
 * side by side on wider displays
 */
/* @media screen and (min-width: 1600px) {
  .runnable {
    flex-direction: row !important;
  }

  .runnable-pane.runnable-pane-query {
    height: 100% !important;
    max-height: 100% !important;
    margin-right: 4px !important;
    width: 50% !important;
  }

  .runnable-pane.runnable-pane-output {
    max-height: 100% !important;
    margin-left: 4px !important;
    width: 50% !important;
  }
} */
