<div class="container mt-lg-3 mt-sm-0">
	<div class="row">
		<div class="col-sm-12 mt-lg-5 mt-sm-0">
			<div class="position-relative tour-container mt-lg-4 mt-sm-0">
				<div class="d-none d-lg-block">
				<div class="page-select dropdown ">
			        <div class="version-select dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Dgraph {{$.Site.Params.thisRelease}}
			        </div>
			        <div class="dropdown-menu">
			            {{ range .Site.Params.tourReleases }}
			                {{ if (eq . "master")}}
			                <a class="dropdown-item page-subnav__label{{ if (eq . $.Site.Params.thisRelease)}} is-active {{ end }}" href="{{$.Site.Params.home}}{{ . }}">Dgraph {{ . }}</a>
			                {{ else }}
			                <a class="dropdown-item page-subnav__label{{ if (eq . $.Site.Params.thisRelease)}} is-active {{ end }}" href="{{$.Site.Params.home}}dgraph-{{ . }}">Dgraph {{ . }}</a>
			                {{ end }}
			            {{ end }}
			        </div>
				  </div>
				</div>
				  <div class="d-block d-lg-none	">
				  
				  <div class="page-select dropdown ">
			        <div class="version-select dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        	{{$.Site.Params.thisRelease}}
			        </div>
			        <div class="dropdown-menu">
			            {{ range .Site.Params.tourReleases }}
			                {{ if (eq . "master")}}
			                <a class="dropdown-item page-subnav__label{{ if (eq . $.Site.Params.thisRelease)}} is-active {{ end }}" href="{{$.Site.Params.home}}{{ . }}">{{ . }}</a>
			                {{ else }}
			                <a class="dropdown-item page-subnav__label{{ if (eq . $.Site.Params.thisRelease)}} is-active {{ end }}" href="{{$.Site.Params.home}}dgraph-{{ . }}"> {{ . }}</a>
			                {{ end }}
			            {{ end }}
			        </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>