{{- $currentUrl := print (index (split .URL "/tour/") 1) -}}
{{- $currentUrlIdentifier := print (index (split $currentUrl "/") 0) -}}

<!-- Modal -->
<div class="page-navigation-modal" id="page-navigation-modal">
    <div class="modal-dialog">
        <div class="modal-body" id="dgraph-tour">
            <div class="top-section">
                <h2 class="title">
                    Dgraph Tour
                </h2>
                <p class="description">
                    An interactive tutorial with real queries and real results,
                    designed to run on Chrome on your machine.
                </p>
            </div>

            <div class="module-section">
                <p class="heading text-gradient">Modules</p>
                {{ range $.Site.Menus.main }}
                    <a class="module {{ if eq ($currentUrlIdentifier|lower) (.Identifier|lower) }}active{{ end }}"
                        href="{{ .URL }}">
                        <span>{{ .Weight }}. {{ .Name }}</span>
                    </a>
                {{ end }}
            </div>
        </div>

        <div class="modal-body" id="dgraph-tour-category">
            {{ range .Site.Menus.main }}
                {{ if eq ($currentUrlIdentifier|lower) (.Identifier|lower) }}
                    <div class="top-section">
                        <h2 class="title">
                            <i class="fa fa-arrow-left text-gradient" id="go-back"></i>
                            {{ .Name }}
                        </h2>
                        <p class="description">
                            {{ index $.Site.Params.menudesc .Identifier }}
                        </p>
                    </div>
                {{ end }}
            {{ end }}

            <div class="module-section">
                <p class="heading text-gradient">Module Breakdown</p>
                {{ range where $.Site.Pages "Section" (.Section) }}
                    {{ if ne .Weight 0 }}
                        {{- $activeWeight := (index (split $currentUrl $currentUrlIdentifier) 1) -}}
                        {{- $activeWeightIndex :=(index (split $activeWeight "/") 1) -}}

                        <a class="module {{ if eq (int $activeWeightIndex) (int .Weight) }}active{{ end }}" href="/tour/{{ $currentUrlIdentifier }}/{{ .Weight }}">
                            <span>{{ .Weight }}. {{ .Title }}</span>
                        </a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
