<footer class="page-footer">
  <div class="container">
    <div class="d-flex justify-content-between flex-column flex-lg-row">
      <div class="left-menu d-flex order-1 order-md-2 order-lg-1 justify-content-between">
        <div class="page-footer__nav pb-5 pb-md-0">
          <h3 class="zeta">Products</h3>
          <ul>
            <li><a href="https://dgraph.io/cloud">Dgraph Cloud</a></li>
            <li><a href="https://dgraph.io/graphql">GraphQL</a></li>
            <li><a href="https://dgraph.io/graph-db">Graph DB</a></li>
            <li><a href="https://dgraph.io/enterprise">Enterprise</a></li>
            <li><a href="https://dgraph.io/open-source">Open Source</a></li>
          </ul>
        </div>
        <div class="page-footer__nav pb-5 pb-md-0">
          <h3 class="zeta">Learn</h3>
          <ul>
            <li><a href="https://dgraph.io/tour" target="_blank">Interactive Tour</a></li>
            <li><a href="https://dgraph.io/paper">Paper</a></li>
            <li><a href="https://dgraph.io/docs/" target="_blank">Dgraph Docs</a></li>
            <li><a href="https://dgraph.io/docs/graphql/overview/" target="_blank">GraphQL Docs</a></li>
            <li><a href="https://dgraph.io/docs/cloud/introduction/" target="_blank">Dgraph Cloud Docs</a></li>
          </ul>
        </div>
        <div class="page-footer__nav pb-5 pb-md-0">
          <ul>
            <li>
              <h3 class="zeta"><a href="https://dgraph.io/case-studies">CUSTOMERS</a></h3>
            </li>
            <li>
              <h3 class="zeta"><a href="https://dgraph.io/blog">Blog</a></h3>
            </li>
            <li>
              <h3 class="zeta"><a href="https://discuss.dgraph.io/" target="_blank">Community</a></h3>
            </li>
          </ul>
        </div>
        <div class="page-footer__nav pb-5 pb-md-0">
          <h3 class="zeta">Company</h3>
          <ul>
            <li><a href="https://dgraph.io/about">Team</a></li>
            <li><a href="https://dgraph.io/careers">Careers</a></li>
            <li><a href="https://dgraph.io/contact">Contact</a></li>
            <li><a href="https://dgraph.io/conduct">Conduct</a></li>
            <li><a href="https://dgraph.io/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="border-above-sm order-1 order-lg-2 d-flex flex-column flex-md-row flex-lg-column justify-content-between justify-content-lg-start mb-5 mb-lg-0 align-items-center align-items-lg-start">
        <div class="page-footer__cta order-md-2 order-lg-1"><a class="button button--secondary" href="https://dgraph.io/downloads" title="Download"><span>Download</span><i class="fas fa-arrow-right"></i></a></div>
        <div class="page-footer__address order-1 order-lg-2">
          <p>
            655 Montgomery Street, 7th Floor<br>San Francisco, CA 94111</p>
          <hr/>
          <p><a href="mailto:contact@dgraph.io">contact@dgraph.io</a></p>
        </div>
      </div>
    </div>
    <div class="page-footer__social">
      <ul>
        <li><a href="https://twitter.com/dgraphlabs" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://github.com/dgraph-io/dgraph" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCghE41LR8nkKFlR3IFTRO4w" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.linkedin.com/company/dgraph-labs" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="page-footer__copyright">
      <p>
        <Copyright>&copy; 2017-2020 Dgraph Labs, Inc.</Copyright>
      </p>
    </div>
  </div>
</footer>