<div class="header position-absolute w-100">
	<div class="container">
	  <div class="page-header">
		<div class="page-logo"><a href="/"></a></div><a class="nav-icon" href="javascript:;">
		  <div class="hamburger">
			<div class="line line-1"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
		  </div></a>
	
	{{ partial "page_nav.html" }}
	{{ partial "page_cta.html" }}
</div>
</div>

</div>

<!--
<div class="container">
  <div class="row">
	<div class="col-12 offset-0 col-md-10 offset-md-1">

			  {{if .Site.Params.github}}
		<span class="topnav-stargazers-wrapper">
		  <a href="https://github.com/{{.Site.Params.github}}" data-show-count="true" aria-label="Star Dgraph on GitHub" class="github-button">Star</a>
		</span>
	  {{end}}

	  	<span
			onclick="toggleVisibility()"
		  	class="search-button pull-right button button-dgraph-site button--outline"
		>
		<i class="fa fa-search" aria-hidden="true"></i>
	  </span>

	  <a
		  href="{{.Site.Params.website}}"
		  title="Dgraph Website"
		  class="button button-dgraph-site button--outline pull-right"
	  >
		Dgraph.io
	  </a>
	</div>
  </div>

  <div id="searchbox"></div>

</div>

<script>
	createSearch();
</script>
-->
