<aside class="page-subnav">

    <div class="page-subnav__header">
        <a href="{{ .Site.BaseURL }}">
            <i class="fad fa-angle-double-left page-subnav__back"></i>
            <h1 class="page-subnav__title">A Tour of Dgraph</h1>
        </a>
    </div>

    <div class="page-subnav__labels d-none d-md-flex">
        {{- $currentSection := print "/" (index (split .URL "/") 1) "/" -}}
        {{ range $.Site.Menus.main }}
            {{- $thisSection := print "/" (index (split .URL "/") 1) "/" -}}
            <a class="page-subnav__label{{ if eq ($currentSection|lower) ($thisSection|lower) }} is-active{{ end }}" href="{{ .URL }}">
                <span>{{ .Name }}</span>
            </a>
        {{ end }}
    </div>
    <div class="d-block d-md-none">
    <div class="page-select dropdown">
        <button class="btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="opacity:0">Dropdown button</span>
        </button>
        <div class="dropdown-menu"  >
            {{- $currentSection := print "/" (index (split .URL "/") 1) "/" -}}
            {{ range $.Site.Menus.main }}
                {{- $thisSection := print "/" (index (split .URL "/") 1) "/" -}}
                <a class="dropdown-item page-subnav__label{{ if eq ($currentSection|lower) ($thisSection|lower) }} is-active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
        </div>
      </div>
    </div>
</aside>
