<div class="navbar"><a href="/why-dgraph" class="dropbtn">Why Dgraph</a>
	<div class="dropdown">
		<div class="dropbtn">Products</div>
		<div class="dropdown-wrapper">
			<div class="row">
				<div class="dropdown-content col-sm-9">
					<div class="col-md-3"><a href="/dgraph" class="card text-center"><img src="/assets/images/nav/graph-db.svg">
							<h4 class="mt-3">Dgraph</h4>
							<p>Most advanced database with a graph backend.</p>
							<div style="margin-top: 16px" class="link"><span style="font-size: 13px">Explore Dgraph</span><i class="fa fa-arrow-right" aria-hidden="true"></i></div></a></div>
					<div class="col-md-3"><a href="/cloud" class="card text-center"><img src="/assets/images/nav/enterprise.svg">
							<h4 class="mt-3">Dgraph Cloud</h4>
							<p>Managed by us. Deployed in your cloud.</p>
							<div style="margin-top: 16px" class="link"><span style="font-size: 13px">Explore Dgraph Cloud</span><i class="fa fa-arrow-right" aria-hidden="true"></i></div></a></div>
					<div class="col-md-3"><a href="/graphql" class="card text-center"><img src="/assets/images/nav/slash-graphql.svg">
							<h4 class="mt-3">Slash GraphQL</h4>
							<p>Fully managed GraphQL backend in one click.</p>
							<div style="margin-top: 16px" class="link"><span style="font-size: 13px">Explore Slash GraphQL</span><i class="fa fa-arrow-right" aria-hidden="true"></i></div></a></div>
					<div class="col-md-3">
						<h5>Quick links</h5><a href="/pricing" class="card">
							<h4>Pricing</h4>
							<p>Pricing breakdown</p></a><a href="https://dgraph.io/open-source" target="_blank" class="card">
							<h4>Open Source</h4>
							<p>Badger DB &amp; Ristretto</p></a>
					</div>
				</div>
			</div>
		</div>
	</div><a href="/case-studies" class="dropbtn">Customers</a>
	<div class="dropdown">
		<div class="dropbtn">Resources</div>
		<div class="dropdown-wrapper">
			<div class="row">
				<div class="dropdown-content col-sm-8">
					<div class="col-md-4"><a href="/docs" class="card">
							<h4>Docs</h4>
							<p>For Dgraph and Slash GraphQL</p></a><a href="/learn" class="card">
							<h4>Learn</h4>
							<p>From GraphQL Basics to Building an App</p></a><a href="/blog" class="card">
							<h4>Blog</h4>
							<p>Updates from Dgraph Labs</p></a></div>
					<div class="col-md-4"><a href="/paper" class="card">
							<h4>Paper</h4>
							<p>Dgraph Database in a Nutshell</p></a><a href="/tour" class="card">
							<h4>Tour</h4>
							<p>An Interactive Dgraph Demo</p></a><a href="/compare-features" class="card">
							<h4>Comparison</h4>
							<p>Dgraph vs Other Graph Databases </p></a></div>
					<div class="col-md-4"><a href="/case-studies" class="card">
							<h3>The world's most advanced GraphQL database</h3>
							<div class="link"><span>See our customer stories</span><i class="fa fa-arrow-right" aria-hidden="true"></i></div></a></div>
				</div>
			</div>
		</div>
	</div><a href="/pricing" class="dropbtn">Pricing</a><a href="https://discuss.dgraph.io" target="_blank" class="dropbtn">Community</a>
</div>
<div class="page-nav">
	<ul class="d-flex align-items-center justify-content-center m-0 p-0 w-100">
		<li class="parent"><a href="/why-dgraph" class="nav-item w-100"><span>Why Dgraph</span></a></li>
		<li class="parent arrow-down">
			<div class="nav-item"><span>Products</span></div>
			<ul>
				<li><a href="/dgraph" class="d-flex"><img src="/assets/images/nav/graph-db.svg">
						<div class="px-3">
							<h4>Dgraph</h4>
							<p>Most advanced database with a graph backend.</p>
						</div></a></li>
				<li><a href="/slash-graphql" class="d-flex"><img src="/assets/images/nav/slash-graphql.svg">
						<div class="px-3">
							<h4>Slash GraphQL</h4>
							<p>Fully managed GraphQL backend in one click.</p>
						</div></a></li>
				<li><a href="/slash-enterprise" class="d-flex"><img src="/assets/images/nav/enterprise.svg">
						<div class="px-3">
							<h4>Dgraph Cloud</h4>
							<p>Managed by us.<br>Deployed in your cloud.</p>
						</div></a></li>
				<li class="w-100">
					<h3>Quick Links</h3>
				</li>
				<li><a href="/pricing">
						<h4>Pricing</h4>
						<p>Pricing breakdown</p></a></li>
				<li><a href="https://dgraph.io/open-source" target="_blank">
						<h4>Open Source</h4>
						<p>Badger DB &amp; Ristretto</p></a></li>
			</ul>
		</li>
		<li class="parent"><a href="/case-studies" class="nav-item w-100"><span>Customers</span></a></li>
		<li class="parent arrow-down">
			<div class="nav-item"><span>Resources</span></div>
			<ul>
				<li><a href="/docs">
						<h4>Docs</h4>
						<p>Docs for Dgraph and Slash GraphQL</p></a></li>
				<li><a href="/learn">
						<h4>Learn</h4>
						<p>From GraphQL Basics to Building an App</p></a></li>
				<li><a href="/blog">
						<h4>Blog</h4>
						<p>Updates from Dgraph Labs</p></a></li>
				<li><a href="/tour">
						<h4>Tour</h4>
						<p>An Interactive Dgraph Demo</p></a></li>
				<li><a href="/paper">
						<h4>Paper</h4>
						<p>Dgraph Database in a Nutshell</p></a></li>
				<li><a href="/compare-features">
						<h4>Comparison </h4>
						<p>Dgraph vs Other Graph Databases</p></a></li>
			</ul>
		</li>
		<li class="parent arrow-down">
			<div class="nav-item"><span>Company</span></div>
			<ul>
				<li><a href="/about">
						<h4>Team</h4>
						<p>Meet our amazing team.</p></a></li>
				<li><a href="/careers">
						<h4>Careers</h4>
						<p>Join us to build smarter apps.</p></a></li>
				<li><a href="/conduct">
						<h4>Conduct</h4>
						<p>A welcoming community.</p></a></li>
				<li><a href="/contact">
						<h4>Contact</h4>
						<p>We are here to help.</p></a></li>
			</ul>
		</li>
		<li class="parent"><a href="https://discuss.dgraph.io" target="_blank" class="nav-item w-100"><span>Community</span></a></li>
		<div class="btn-wrapper"><a href="https://slash.dgraph.io" target="_blank" class="button button--primary w-100"><span>Get Slash GraphQL</span><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
	</ul>
</div>
