<div class="navbar">
  <a href="https://dgraph.io/why-dgraph" class="dropbtn">Why Dgraph</a>
  <div class="dropdown">
    <div class="dropbtn">Products</div>
    <div class="dropdown-wrapper">
      <div class="row">
        <div class="dropdown-content col-sm-9">
          <div class="col-md-3">
            <a href="https://dgraph.io/graph-db" class="card text-center"
              ><img src="https://dgraph.io/assets/images/nav/graph-db.svg" />
              <h4 class="mt-3">Dgraph</h4>
              <p>Most advanced database with a graph backend.</p>
              <div style="margin-top: 16px" class="link">
                <span style="font-size: 13px">Explore Dgraph </span
                ><i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://dgraph.io/slash-graphql" class="card text-center"
              ><img
                src="https://dgraph.io/assets/images/nav/slash-graphql.svg"
              />
              <h4 class="mt-3">Slash GraphQL</h4>
              <p>Fully managed GraphQL backend in one click.</p>
              <div style="margin-top: 16px" class="link">
                <span style="font-size: 13px">Explore Slash GraphQL </span
                ><i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://dgraph.io/enterprise" class="card text-center"
              ><img src="https://dgraph.io/assets/images/nav/enterprise.svg" />
              <h4 class="mt-3">Slash Enterprise</h4>
              <p>Managed by us. Deployed in your cloud.</p>
              <div style="margin-top: 16px" class="link">
                <span style="font-size: 13px">Explore Enterprise </span
                ><i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <h5>Quick links</h5>
            <a href="https://dgraph.io/pricing" class="card">
              <h4>Pricing</h4>
              <p>Pricing breakdown</p> </a
            ><a
              href="https://dgraph.io/open-source"
              target="_blank"
              class="card"
            >
              <h4>Open Source</h4>
              <p>Badger DB &amp; Ristretto</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="https://dgraph.io/case-studies" class="dropbtn">Customers</a>
  <div class="dropdown">
    <div class="dropbtn">Resources</div>
    <div class="dropdown-wrapper">
      <div class="row">
        <div class="dropdown-content col-sm-8">
          <div class="col-md-4">
            <a href="https://dgraph.io/docs" class="card">
              <h4>Docs</h4>
              <p>For Dgraph and Slash GraphQL</p>
            </a>
            <a href="https://dgraph.io/learn" class="card">
              <h4>Learn</h4>
              <p>From GraphQL Basics to Building an App</p>
            </a>
            <a href="https://dgraph.io/blog" class="card">
              <h4>Blog</h4>
              <p>Updates from Dgraph Labs</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://dgraph.io/paper" class="card">
              <h4>Paper</h4>
              <p>Dgraph Database in a Nutshell</p> </a
            ><a href="https://dgraph.io/tour" class="card">
              <h4>Tour</h4>
              <p>An Interactive Dgraph Demo</p>
			</a>
			<span class="card" style='pointer-events:none'></span>
          </div>
          <div class="col-md-4">
            <a href="https://dgraph.io/why-dgraph" class="card">
              <h3>The world's most advanced GraphQL database</h3>
              <div class="link">
                <span>Subscribe </span
                ><i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <div class="dropbtn">Company</div>
    <div class="dropdown-wrapper">
      <div class="row">
        <div class="dropdown-content col-sm-8">
          <div class="col-md-4">
            <a href="https://dgraph.io/about" class="card">
              <h4>Team</h4>
              <p>Meet our amazing team.</p> </a
            ><a href="https://dgraph.io/contact" class="card">
              <h4>Contact</h4>
              <p>We are here to help.</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://dgraph.io/careers" class="card">
              <h4>Careers</h4>
              <p>Join us to build smarter apps.</p> </a
            ><a href="https://dgraph.io/conduct" class="card">
              <h4>Conduct</h4>
              <p>A welcoming community.</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://dgraph.io/why-dgraph" class="card">
              <h3>The world's most advanced GraphQL database</h3>
              <div class="link">
                <span>Subscribe </span
                ><i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="https://discuss.dgraph.io" target="_blank" class="dropbtn"
    >Community
  </a>
</div>
