<footer class="page-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5 col-sm-4">
        <div class="row">
          <div class="col-12 col-md-6 page-footer__nav">
            <h3 class="zeta">Products</h3>
            <ul>
              <li><a href="https://dgraph.io/graphql">GraphQL</a></li>
              <li><a href="https://dgraph.io/enterprise">Enterprise</a></li>
              <li><a href="https://dgraph.io/downloads">Downloads</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 page-footer__nav">
            <h3 class="zeta">Learn</h3>
            <ul>
              <li><a href="https://dgraph.io/blog/" target="_blank">Blog</a></li>
              <li><a href="https://dgraph.io/tour/" target="_blank">Interactive Tour</a></li>
              <li><a href="https://discuss.dgraph.io" target="_blank">Forum</a></li>
              <li><a href="https://slack.dgraph.io" target="_blank">Slack</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-5 col-sm-4">
        <div class="row">
          <div class="col-12 col-md-6 page-footer__nav">
            <h3 class="zeta">Docs</h3>
            <ul>
              <li><a href="https://docs.dgraph.io" target="_blank">Dgraph Docs</a></li>
              <li><a href="https://graphql.dgraph.io/docs/" target="_blank">GraphQL Docs</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 page-footer__nav">
            <h3 class="zeta">Company</h3>
            <ul>
              <li><a href="https://dgraph.io/about">Team</a></li>
              <li><a href="https://dgraph.io/careers">Careers</a></li>
              <li><a href="https://dgraph.io/contact">Contact</a></li>
              <li><a href="https://dgraph.io/conduct">Conduct</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 offset-lg-1 border-above-sm">
        <div class="page-footer__cta"><a href="https://dgraph.io/downloads" title="Download" class="button button--secondary"><span>Download</span><i class="fas fa-arrow-right"></i></a></div>
        <div class="page-footer__address">
          <p>
            655 Montgomery Street, 7th Floor<br>
            San Francisco, CA 94111
          </p>
          <hr>
          <p><a href="mailto:contact@dgraph.io">contact@dgraph.io</a></p>
        </div>
      </div>
    </div>
    <div class="page-footer__social">
      <ul>
        <li><a href="https://twitter.com/dgraphlabs" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://github.com/dgraph-io/dgraph" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCghE41LR8nkKFlR3IFTRO4w" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://slack.dgraph.io" target="_blank"><i class="fab fa-slack"></i></a></li>
        <li><a href="https://www.linkedin.com/company/dgraph-labs" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="page-footer__copyright">
      <p>
        <Copyright>&copy; 2017-2020 Dgraph Labs, Inc.</Copyright>
      </p>
    </div>
  </div>
</footer>
