<footer class="page-footer">
  <div class="container">
    <div class="d-flex justify-content-between flex-column flex-lg-row">
      <div class="left-menu d-flex order-1 order-md-2 order-lg-1 justify-content-between">
        <div class="page-footer__nav pb-5 pb-md-0">
          <h3 class="zeta">Products</h3>
          <ul>
            <li><a href="https://dgraph.io/cloud">Dgraph Cloud</a></li>
            <li><a href="https://dgraph.io/enterprise">Enterprise</a></li>
            <li><a href="https://dgraph.io/dgraph">Dgraph</a></li>
            <li><a href="https://dgraph.io/pricing">Pricing</a></li>
            <li><a href="https://dgraph.io/open-source">Open Source</a></li>
            <li><a href="https://dgraph.io/compare-features">Service Comparison</a></li>
          </ul>
        </div>
        <div class="page-footer__nav pb-5 pb-md-0">
          <h3 class="zeta">Resources</h3>
          <ul>
            <li><a href="https://dgraph.io/docs/" target="_blank">Dgraph Docs</a></li>
            <li><a href="https://dgraph.io/docs/cloud/">Dgraph Cloud Docs</a></li>
            <li><a href="https://dgraph.io/learn/" target="_blank">Learn</a></li>
            <li><a href="https://dgraph.io/tour/" target="_blank">Tour</a></li>
            <li><a href="https://dgraph.io/paper/" target="_blank">Paper</a></li>
          </ul>
        </div>
        <div class="page-footer__nav pb-5 pb-md-0">
          <ul>
            <li>
              <h3 class="zeta"><a href="https://dgraph.io/blog/">Blog</a></h3>
            </li>
            <li>
              <h3 class="zeta"><a href="https://discuss.dgraph.io/" target="_blank">Community</a></h3>
            </li>
          </ul>
        </div>
        <div class="page-footer__nav pb-5 pb-md-0">
          <h3 class="zeta">Company</h3>
          <ul>
            <li><a href="https://dgraph.io/about">Team</a></li>
            <li><a href="https://dgraph.io/careers">Careers</a></li>
            <li><a href="https://dgraph.io/contact">Contact</a></li>
            <li><a href="https://dgraph.io/support">Support</a></li>
            <li><a href="https://dgraph.io/conduct">Code of Conduct</a></li>
            <li><a href="https://dgraph.io/privacy-policy">Privacy Policy</a></li>
            <li><a href="https://dgraph.io/legal-notices">Legal notices</a></li>
          </ul>
        </div>
        <div class="page-footer__nav pb-5 pb-md-0">
          <h3 class="zeta">Company</h3>
          <p>555 Bryan St. #208,<br>Palo Alto, CA 94301</p>
          <hr/>
          <p><a href="mailto:contact@dgraph.io">contact@dgraph.io</a></p>
        </div>
      </div>
    </div>
    <div class="page-footer__social">
      <ul>
        <li><a href="https://twitter.com/dgraphlabs" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://github.com/dgraph-io/dgraph" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCghE41LR8nkKFlR3IFTRO4w" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.linkedin.com/company/dgraph-labs" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="page-footer__copyright">
      <p>
        <Copyright>&copy; 2017-2021 Dgraph Labs, Inc.</Copyright>
      </p>
    </div>
  </div>
</footer>