<div class="page-cta">
    <ul>
      <li class="d-none d-lg-flex slashql-menu"><a class="button justify-content-center justify-content-xl-start download-btn" href="https://slash.dgraph.io/" title="Slash" target="_blank"><span>Try Free</span><i class="fas fa-arrow-right d-none d-xl-block"></i></a></li>
      <li class="d-none d-lg-flex other-menu"><a class="button justify-content-center justify-content-xl-start download-btn" href="/downloads" title="Download"><span>Try Free</span><i class="fas fa-arrow-right d-none d-xl-block"></i></a></li>
    </ul>
  </div>