{{ $numContents := len (where .Site.RegularPages "Section" "==" .Section) }}

<aside class="page-subnav page-subnav-new">
    <div class="page-select">

        <!-- Button to trigger page navigation modal -->
        <i class="fa fa-bars btn" type="button" id="toggle-navigation-modal"></i>
        <p class="lesson-title">{{ .File.BaseFileName }}. {{ .Title }}</p>
    </div>

    <nav class="lesson-navigation xs-hidden">
        {{ with .Params.prev }}
        <a href="{{ . | relURL }}" data-action="go-prev" class="button button--dark">
            <span> Back </span>
        </a>
        {{ else }}
        <a class="button button--dark disabled">
            <span> Back </span>
        </a>
        {{ end }}

        <div class="page-count">
            {{ .File.BaseFileName }}/{{ $numContents }}
        </div>

        {{ with .Params.next }}
        <a href="{{ . | relURL }}" data-action="go-next" class="button button--primary">
            <span> Next </span>
        </a>
        {{ else }}
        <a class="button button--primary disabled">
            <span> Next </span>
        </a>
        {{ end }}
    </nav>

    <nav class="lesson-navigation xs-block">
        {{ with .Params.prev }}
        <a href="{{ . | relURL }}" data-action="go-prev" class="lesson__prev">
            <span>
                <i class="fad fa-angle-double-left"></i>
            </span>
        </a>
        {{ end }}

        <div class="page-count">
            {{ .File.BaseFileName }}/{{ $numContents }}
        </div>

        {{ with .Params.next }}
        <a href="{{ . | relURL }}" data-action="go-next" class="lesson__next">
            <span>
                <i class="fad fa-angle-double-right"></i>
            </span>
        </a>
        {{ end }}

    </nav>


</aside>
