<div class="page-cta">
    <ul>
        <li class="hide-tablet d-none d-lg-flex">
            <a href="https://dgraph.io/contact" title="Contact">Contact</a>
        </li>
        <li class="d-none d-lg-flex">
            <a href="https://dgraph.io/downloads" title="Download" class="button button--secondary justify-content-center justify-content-xl-start">
                <span>Download</span>
                <i class="fas fa-arrow-right d-none d-xl-block"></i>
            </a>
        </li>
    </ul>
</div>
