{{ $sections := .Site.Sections }}

<aside id="sidebar">
  <ul class="categories">
    {{ range .Site.Menus.main }}
      <li>
        <a class="category{{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">
          {{ .Name }}
        </a>

        <ul class="topics">
          {{ $weightedPages := index $sections .Identifier }}

          {{ range $weightedPages }}
            <li>
              <a href="{{ .Page.URL }}" class="topic{{if eq .Page.URL $.URL}} active{{end}}">
                {{ .Page.Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</aside>
