{{ $sections := .Site.Home.Sections }}
<style>
  .hidden { opacity: 0; }
</style>
<aside id="sidebar" class="hidden">
  {{ range $.Site.Menus.main }}
  <ul class="categories">
    <li>
      <div class="category">
        {{ .Name }}
      </div>

      <ul class="topics">
        {{ $section := $.Site.GetPage "section" .Identifier }}
        {{ range $section.Pages }}
          <li>
            <a href="{{ .URL }}" class="topic{{if eq .URL $.URL}} active{{end}}">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </li>
  {{ end }}
</aside>
