{{ $sections := .Site.Sections }}

<aside id="sidebar" class="hidden">
  <ul class="categories">
    {{ range .Site.Menus.main }}
      <li>
        <div class="category">
          {{ .Name }}

        </div>


        <ul class="topics">
          {{ $weightedPages := index $sections .Identifier }}

          {{ range $weightedPages }}
            <li>
              <a href="{{ .Page.URL }}" class="topic{{if eq .Page.URL $.URL}} active{{end}}">
                {{ .Page.Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</aside>
