<nav id="header">
  <a href="{{ .Site.BaseURL }}" class="brand">
    <img src="{{ .Site.BaseURL }}/images/dgraph.svg" alt="dgraph" class="logo" />
    <span class="name">
      A Tour of Dgraph
    </span>
  </a>
  <select id="tour-release" class="select-release">
      {{ range .Site.Params.tourReleases }}
        <option
          value="{{ . }}"
          {{ if (eq . $.Site.Params.thisRelease)}}
            selected="selected"
          {{ end }}
        >
          Dgraph {{ . }}
        </option>
      {{ end }}
  </select>

  <div class="menus">
    <a href="#toggle-sidebar" data-action="toggle-sidebar" class="menu-item">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>

<script>
  window.DgTour = {
    thisRelease: "{{ $.Site.Params.thisRelease }}",
    latestRelease: "{{ $.Site.Params.thisRelease }}"
  }
</script>


<script>
  $('#tour-release').change(function(e) {
    var dest = e.target.value;
    if (dest == DgTour.thisRelease) {
      return
    }
    if (dest == DgTour.latestRelease) {
      window.location.href = "https://tour.dgraph.io/"
      return
    }
    if (dest != "master") {
      dest = "dgraph-" + dest
    }
    window.location.href = "/" + dest
  })
</script>
