<nav id="header">
  <a href="{{ .Site.BaseURL }}" class="brand">
    <img src="{{ .Site.BaseURL }}/images/dgraph.svg?2" alt="dgraph" class="logo" />
    <span class="name">
      A Tour of Dgraph
    </span>
  </a>
  <select id="tour-release" value="{{ $.Site.Params.thisRelease }}" class="select-release">
      {{ range .Site.Params.tourReleases }}
        <option value="{{ . }}">Dgraph {{ . }} </option>
      {{ end }}
  </select>

  <div class="menus">
    <a href="#toggle-sidebar" data-action="toggle-sidebar" class="menu-item">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>

<script>
  window.DgTour = {
    thisRelease: "{{ $.Site.Params.thisRelease }}",
  }
</script>


<script>
  $('#tour-release').change(function(e) {
    alert('One day we will redirect you to /' + e.target.value)
  })
</script>
