{{ partial "header.html" . }}

<body class="tour tour-container-new">

    {{ partial "page_header.html" . }}

    <div class="page-intro page-intro__home">
      <div class="container">
        <div class="page-intro__header">
          <h1 class="title_small">DGRAPH TOUR</h1>
          <h1 class="page-intro__title">Let's Take a Tour of Dgraph</h1>
          <p class="page-intro__subtitle">An interactive tutorial with real queries and real results, designed to run on Chrome on your machine.</p>
        </div>
      </div>
    </div>

  <section class="page-body pt-0">
    <div class="section--large lesson-tiles-container" style="margin-bottom: 0px !important">
      <div class="container" data-context="graphql">
        <h2 class="main-title">Which Language Suits You?</h2>

        <div class="lesson-tiles-switcher">
          <div data-context="graphql">
            <p style="font-weight: normal">GraphQL</p>
            <span>Dgraph's Generated API</span>
          </div>
          <div data-context="dql">
            <p style="font-weight: normal">DQL</p>
            <span>Dgraph's Query Language</span>
          </div>
        </div>
      </div>
    </div>
    <div class="section--large lesson-tiles-container tiles-container">
      <div class="container container-narrow" data-context="graphql">
        <div class="lesson-tiles" style="all: unset !important">
          {{ $counter := 1 }} {{ range .Site.Menus.main }}
          <div class="tile" data-context='{{ if in .Identifier "graphql" }}graphql{{ else }}dql{{ end }}'>
            <div class="meta">
              <div>
                <p class="tile-counter">{{ $counter }}</p>
                <p class="tile-name">{{ .Name }}</p>
                <p class="tile-time">{{ with .Params.time }}<i class="fa-regular fa-clock" style="margin-right: 7px"></i>{{ . }}{{ end }}</p>
                <script src="https://kit.fontawesome.com/37543023ae.js" crossorigin="anonymous"></script>
              </div>
              <span class="tile-description">{{ index $.Site.Params.menudesc .Identifier }}</span>
              {{ $counter = add $counter 1 }}
            </div>
            <div class="lesson-tiles__link">
              <a href="{{ .URL }}" class="button button--primary-custom lesson-button">
                <span>Start</span>
              </a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  {{ partial "page_footer.html" . }}
</body>

{{ partial "footer.html" . }}
