{{ partial "header.html" . }}

{{ partial "topbar.html" . }}
{{ partial "sidebar.html" . }}

<div class="content-wrapper home">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Welcome to a tour of Dgraph</h1>

        <img src="/images/diggy.png" alt="diggy" class="diggy-img">

        <ul class="categories">
          {{ range .Site.Menus.main }}
            <li>
              <a class="category" href="{{.URL}}">
                <h2>{{ .Name }}</h2>
              </a>

              <ul class="topics">
                {{ $weightedPages := index $.Site.Sections .Identifier }}

                {{ range $weightedPages }}
                  <li>
                    <a href="{{ .Page.URL }}" class="topic">
                      {{ .Page.Title }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ end }}
        </ul>
        <h2>More resources</h2>

        <ul class="list-unstyled">
          <li>
            <a href="https://doc.dgraph.io/">Official documentation</a>
          </li>
          <li>
            <a href="https://discuss.dgraph.io/">Community forum</a>
          </li>
          <li>
            <a href="https://play.dgraph.io/">Dgraph Play</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
