{{ $codePath := printf "content/%s%s.txt" .File.Dir .File.BaseFileName }}
{{ $codeContent := readFile $codePath }}

{{ partial "header.html" . }}

<body class="tour new">

    {{ partial "page_header.html" . }}

    <!-- <div class="d-block d-lg-none tour-message">
        To optimize your experience, the interactive tutorial is only available on desktop.
    </div> -->

    <section class="page-body new">
        <div class="page-body__content">
            <div class="lesson" {{ if eq .Params.completed 1 }}data-completed="{{ .Section }}"{{ end }}>
                <div class="lesson__content" id="lesson-content">
                    <div id="lesson-content-inner">
                        <h2 class="lesson__tour__type">Dgraph {{ if in .Section "graphql" }}GraphQL{{ else }}DQL{{ end }} Tour</h2>
                        <div class="category_title">
                            <h2 class="lesson__Category">{{ with .Params.courseName }}{{ . }}{{ else }}{{ (index (split .File.Dir "/") 0) }}{{ end }}</h2>
                            <h2 class="lesson__title">{{ .Title }}</h2>
                        </div>
                        {{ .Content }}

                    </div>
                    {{ partial "page_navigation_modal.html" . }}
                </div>
                <div class="lesson__resizer" ></div>
                {{ with .Params.iframeURL }}
                    <div class="lesson__code modal-bakdrop block">
                        <iframe src="{{ . }}" style="width: 100%; height: 100%;" ></iframe>
                    </div>
                {{ else }}
                    {{ if eq .Params.iFrameRatel 1 }}
                        <div class="lesson__code modal-bakdrop block">
                            <iframe class='ratel {{ if eq .Params.endpoint "/mutate" }}mutate{{ else }}query{{ end }}' {{ if ne .Params.endpoint "/mutate"}}data-code='{{ $codeContent }}'{{ end }} src="https://play.dgraph.io/?latest" style="width: 100%; height: 100%;" ></iframe>
                        </div>
                    {{ else if eq .Params.type "graphql/schema" }}
                        <div class="lesson__code modal-bakdrop block">
                            {{ partial "schema" (dict "Content" . "Code" $codeContent) }}
                        </div>
                    {{ else if (eq $codeContent "") }}
                        <div class="lesson__code modal-bakdrop d-none d-lg-block empty custom-class">
                            <img src='{{ relURL "/images/single-bg.svg" }}' />
                        </div>
                    {{ else if eq .Params.type "graphql" }}
                        <div class="lesson__code modal-bakdrop block" style="background-color: #B8B7BA !important;">
                            {{ partial "graphql" (dict "Content" . "Code" $codeContent) }}
                        </div>
                    {{ else if not (eq $codeContent "") }}
                        <div class="lesson__code modal-bakdrop block">
                            {{ partial "runnable" (dict "Content" . "Code" $codeContent) }}
                        </div>
                    {{else}}
                        <div class="lesson__code modal-bakdrop d-none d-lg-block empty custom-class">
                            <img src='{{ relURL "/images/single-bg.svg" }}' />
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>

    </section>

    {{ partial "page_navigation_new.html" . }}

    {{ partial "page_footer.html" . }}

</body>

{{ partial "footer.html" . }}
