{{ $codePath := printf "content/%s%s.txt" .File.Dir .File.BaseFileName }}
{{ $codeContent := readFile $codePath }}
{{ $numContents := len (where .Site.RegularPages "Section" "==" .Section) }}

{{ partial "header.html" . }}

{{ partial "topbar.html" . }}
{{ partial "sidebar.html" . }}

<div class="lesson-content-wrapper container-fluid">
  <div class="content row vertical-stretch">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 vertical-stretch">
      <div class="panel">
        <div class="body">
          <h1 class="lesson-heading">{{ .Title }}</h1>

          <div>
            {{ .Content }}
          </div>
        </div>

        <div class="page-nav">
          {{ with .Params.prev }}
            <a href="{{ . | relURL }}" data-action="go-prev" class="btn btn-secondary btn-sm page-nav-link"><i class="fa fa-chevron-left"></i></a>
          {{ end }}
          <div class="nav-index">
            {{ .File.BaseFileName }} / {{ $numContents }}
          </div>
          {{ with .Params.next }}
            <a href="{{ . | relURL }}" data-action="go-next" class="btn btn-secondary btn-sm page-nav-link"><i class="fa fa-chevron-right"></i></a>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 vertical-stretch">
      {{ if not (eq $codeContent "")}}
        {{ partial "runnable" (dict "Content" . "Code" $codeContent) }}
      {{ else }}
        <div class="panel empty">
          <img src="{{ .Site.BaseURL }}/images/dgraph-black.png" alt="dgraph-icon" class="dgraph-icon" />
        </div>
      {{ end }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
