{{ $codePath := printf "content/%s%s.txt" .File.Dir .File.BaseFileName }}
{{ $numContents := len (where .Site.RegularPages "Section" "==" .Section) }}

{{ partial "header.html" . }}

{{ partial "topbar.html" . }}

<div class="content-wrapper container-fluid">
  <div class="content row">
    <div class="col-6 col-sm-6">
      <div class="panel">
        <div class="body">
          <h1 class="lesson-heading">{{ .Title }}</h1>

          <div>
            {{ .Content }}
          </div>
        </div>

        <div class="page-nav">
          {{ with .Params.prev }}
            <a href="{{ . | relURL }}" class="page-nav-link"><i class="fa fa-chevron-left"></i></a>
          {{ end }}
          <div class="nav-index">
            {{ .File.BaseFileName }} / {{ $numContents }}
          </div>
          {{ with .Params.next }}
            <a href="{{ . | relURL }}" class="page-nav-link"><i class="fa fa-chevron-right"></i></a>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6">
      <div class="panel">
        <div class="code">
          runable
          <pre><code class="code-content">{{ readFile $codePath }}</code></pre>

          <div class="outcome">
            outcome and visualization
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
